<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/css/file.css">
        <title><%= pageTitle %> - <%= fileMimetype %></title>
    </head>
    <body>
        <div class="file">
        <% if(fileMimetype == "image") { %>
            <img src="data:data/<%= data.file.contentType %>;base64, <%= data.file.data.toString('base64') %>">
        <% } else if(fileMimetype == "video") { %>
            <video width="1080" height="720" controls>
                <source src="data:data/<%= data.file.contentType %>;base64, <%= data.file.data.toString('base64') %>" type="video/mp4">
            </video>
        <% } %>
        </div>
    </body>
</html>